@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #444444;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(-45deg, #121212, #979797, #1C1C1C, #fffdfd,white);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
